@import "vars";

/*============ COMMON ============*/
html {
  @media only screen and (max-width: 1080px) {
    font-size: 14px;
    scroll-behavior: smooth;
  }
}

body {
  font-family: $font-family-main;
  @media only screen and (max-width: $media-mob) {
    &.fixed {
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.base-section {
  padding: 0 calc(50% - 648px);
  // height: 100vh;
  margin-bottom: 6%;
  @media only screen and (max-width: 1400px) {
    padding: 0 calc(50% - 540px);
  }
  @media only screen and (max-width: 1120px) {
    padding: 0 calc(50% - 460px);
  }
  @media only screen and (max-width: 960px) {
    padding: 0 calc(50% - 360px);
  }
  @media only screen and (max-width: $media-mob) {
    padding: 0 15px;
    margin-bottom: 15%;
  }
  // @media screen and (min-width: $media-mob) and (orientation:portrait){
  //   height: 50vh;
  // }
}

.base-btn {
  background-color: transparent;
  padding: .5rem 3rem;
  border-radius: 3px;
  transition: all .3s linear;
  font-size: 16px;
}

.base-heading-xl {
  font-size: 4.5rem;
  font-weight: bold;
  @media only screen and (max-width: 960px){
    font-size: 48px;
  }
  @media only screen and (max-width: $media-mob) {
    font-size: 36px;
  }

}

.base-heading {
  font-size: 2.25rem;
  font-weight: bold;
}

.base-heading-sm {
  font-size: 1.5rem;
  font-weight: bold;
  @media only screen and (max-width: 1080px) {
    font-size: 18px;
  }
}

.base-text {
  font-family: $font-family-main;
  line-height: 1.5rem;
}

.base-card {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  border-radius: 2px;
}

.btn-main {
  @extend .base-btn;
  border: 2px solid $color-main;
  color: $color-main;
  &:hover {
    color: white;
    background-color: $color-main;
  }
}

.btn-accent {
  @extend .base-btn;
  border: 2px solid $color-accent;
  color: $color-accent;
  &:hover {
    color: white;
    background-color: $color-accent;
  }
}

/*============ FLEX GRID ============*/

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/*============ SLICK ============*/

.slick-list {
  box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  border-radius: 2px;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}